LB	blank	1-4
LB	Strain1	5-8
LB	Strain2	9-12
LB	Strain3	13-16
LB	Strain4	17-20
LB	Strain5	21-24
LB	Strain6	25-28
M9-glucose	blank	29-32
M9-glucose	Strain1	33-36
M9-glucose	Strain2	37-40
M9-glucose	Strain3	41-44
M9-glucose	Strain4	45-48
M9-glucose	Strain5	49-52
M9-glucose	Strain6	53-56
M9-rhamnose	blank	57-60
M9-rhamnose	Strain1	61-64
M9-rhamnose	Strain2	65-68
M9-rhamnose	Strain3	69-72
M9-rhamnose	Strain4	73-76
M9-rhamnose	Strain5	77-80
M9-rhamnose	Strain6	81-84
